body{
    margin: 0;
}

#board{
   background-color: blue;
    width: 100%;
    height: 600px;
    position: relative;
}

#player{
width: 40px;
height: 50px;
    position: absolute;
    bottom: 290px;
    left: 100px;
}
#player img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 10px;
}


#background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("./assets/bakcground.png") ;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: backgraoundMove 25s linear infinite;
    
}

.playerJump{
    animation: playerJump 1s linear;
}
@keyframes playerJump {
    0%{
        bottom: 290px;
    }
    45%,55%{
        bottom: 390px;
    }

    
}

@keyframes backgraoundMove {
    from{
        background-position: 0 0;
    }
    to{
        background-position: -10000px 0;
    }
}

